<div data-controller='index'>
    <h1>
        Lista de tarefas
    </h1>
</div>
<hr>

<ul id="tasks-list" class="tasks">
    <%= render @tasks %>
</ul>

<ul class="tasks" id="new-task">
    <%= render partial: "form", locals: { task: Task.new } %>
</ul>