body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFBF5;
}

hr {
    margin-bottom: 40px;
}

.tasks {
    width: 50rem;
    margin: 0 auto;
}

.tasks__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.tasks__item:hover {
    background-color: #F7EFE5;
}

.tasks__item__completed {
    text-decoration: line-through;
}

.tasks__item__button {
    padding: 10px;
    background-color: #0766AD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tasks__item__delete {
    display: inline;
}

.tasks__item__delete button {
    font-size: 0.8rem;
    text-decoration: none;
    color: #DED0B6;
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.tasks__item input[type="text"] {
    padding: 7px 5px;
    border: 1px solid #DED0B6;
    border-radius: 3px;
    width: 100%;
    color: #BBAB8C;
    margin-right: 20px;
}

.tasks__item input[type="text"]:focus {
    outline: none;
    border: 1px solid #BBAB8C;
}